.vscode/
build/
ExGraphics/
Graphics/
patches/
objects/
releases/
src/.vs
sysLMRestore/
uberasm/
*.map16
*.pal
*.palmask
*.mw0
*.mw0t
*.osc
*.bin
*.smc
*.srm
*.sfc
*.exe
*.res
*.ifc
*.obj
*.pdb
*.bst
*.bat
list.txt
known issues.txt